{% extends "base.html"%} {% block title %} sales {% endblock %} {% block content
%}
<h1>sales page</h1>
<table class="table table-striped" style="width: 100%" id="my_table">
  <thead>
    <tr>
      <th scope="col">Sale ID</th>
      <th scope="col">Customer ID</th>
      <th scope="col">User ID</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Created_at</th>
    </tr>
  </thead>
  <tbody id="products_table">
    {% for sale in sales %}
    <tr>
      <td>{{ sale.sale_id }}</td>
      <td>{{ sale.customer_id }}</td>
      <td>{{ sale.user_id }}</td>
      <td>{{ sale.total_amount }}</td>
      <td>{{ sale.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- add sale -->
<div class="container mt-5">
  <h1>Sales Form</h1>
  <form method="POST" action="/sales-form">
    <div class="row mb-3">
      <div class="col">
        <label for="product_name" class="form-label">Product Name</label>
        <input
          type="text"
          class="form-control"
          id="product_name"
          name="product_name"
          required
        />
      </div>
      <div class="col">
        <label for="quantity" class="form-label">Quantity</label>
        <input
          type="number"
          class="form-control"
          id="quantity"
          name="quantity"
          required
        />
      </div>
      <div class="col">
        <label for="unit_price" class="form-label">Unit Price</label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="unit_price"
          name="unit_price"
          required
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>

  {% if sale_details %}
  <div class="mt-3">
    <h2>Current Sale Details</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        {% for detail in sale_details %}
        <tr>
          <td>{{ detail.product_name }}</td>
          <td>{{ detail.quantity }}</td>
          <td>{{ detail.unit_price }}</td>
          <td>{{ detail.total_price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <form method="POST" action="/close-sale">
    <button type="submit" class="btn btn-danger mt-3">Close Sale</button>
  </form>
  {% endif %}
</div>

{% endblock %}
